[data-amplify-authenticator] {
    display: block !important;
    --amplify-components-authenticator-container-width-max: 390px;
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-medium)
      var(--amplify-space-xl) var(--amplify-space-xl);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px deepskyblue;
    --amplify-components-tabs-item-color: dimgray;
    --amplify-components-tabs-item-hover-color: midnightblue;
    --amplify-components-tabs-item-active-color: midnightblue;
    --amplify-components-tabs-item-active-border-color: dodgerblue;
    --amplify-components-button-primary-background-color: pink;
    --amplify-components-button-primary-hover-background-color: midnightblue;
    --amplify-components-button-primary-active-background-color: deepskyblue;
    --amplify-components-button-link-color: dodgerblue;
    --amplify-components-button-link-hover-color: deepskyblue;
    --amplify-components-button-link-hover-border-color: deepskyblue;
    --amplify-components-button-link-hover-background-color: #00bfff1a;
    --amplify-components-button-focus-box-shadow: 0px 0px 0px 2px deepskyblue;
    --amplify-components-checkbox-icon-background-color: dodgerblue;
  }