
:root { 
    background-color: rgb(147, 51, 234);
    background-image: radial-gradient(at 89% 66%, rgb(244, 114, 182) 0, transparent 74%), 
                      radial-gradient(at 25% 66%, rgb(186, 230, 253) 0, transparent 74%),
                      radial-gradient(at 30% 46%, rgb(254, 226, 226) 0, transparent 22%),
                      radial-gradient(at 59% 33%, rgb(236, 252, 203) 0, transparent 67%),
                      radial-gradient(at 63% 42%, rgb(249, 168, 212) 0, transparent 88%),
                      radial-gradient(at 28% 67%, rgb(77, 124, 15) 0, transparent 67%); 
    --btn-background: hsl(200, 10%, 91%);
    --btn-background-hover: hsl(200, 10%, 89%);
    --foreground: hsl(200, 50%, 3%); 
  }
  
  * {
    border-color: hsla(200, 0%, 0%, 0.2);
  }
  
  .animate-in {
    animation: animateIn 0.3s ease 0.15s both;
  }
  
  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }